// user.scss
//
// Place your own theme CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.
// Antd override
$ant-default-border: 1px solid #d9d9d9;
$app-main-color: #2c7be5;

.ant-btn .anticon,
.ant-message .anticon {
  vertical-align: unset;
}

.anticon {
  vertical-align: middle;
}

.ant-modal-mask,
.ant-image-preview-mask {
  z-index: 9997;
}

.ant-modal-wrap,
.ant-image-preview-wrap {
  z-index: 9998;
}

.ant-notification,
.ant-message {
  z-index: 9999;
}

.ant-popover-inner-content {
  max-width: 500px;
  max-height: 350px;
  overflow-y: scroll;
  white-space: pre-wrap;
}

// Antd form related

.ant-form-vertical .ant-form-item-label,
.ant-col.ant-form-item-label {
  padding-bottom: 4px !important;
}

.ant-form-item-label {
  padding-bottom: 4px !important;
}

.ant-form-item-label > label {
  height: max-content !important;
}

.ant-form-item-label.no-colon > label::after {
  display: none;
}

.ant-form-item-feedback-icon {
  display: flex !important;
}

.ant-form-item-explain {
  font-size: 10px !important;
}

.ant-table-cell {
  .ant-form-item-control-input {
    min-height: 26px;
    max-height: 26px;
  }
}

// End Antd form related

.app-text-input.ant-input-affix-wrapper {
  padding: 0;

  .ant-input-prefix {
    padding: 5px 7px;
    margin-right: 0;
  }

  input.ant-input {
    padding: 4px 2px 4px 0;
    border-right: $ant-default-border;
    border-left: none;
    border-radius: 0;
  }

  .ant-input-suffix {
    margin-left: 0;
    padding: 5px;
  }
}

.ant-picker.app-date-input {
  border-left: none;
  padding: 0;
  border-radius: 0;

  &:hover,
  &.ant-picker-focused {
    border: $ant-default-border !important;
    border-left: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .ant-picker-input {
    input {
      padding: 4px 2px 4px 2px;
      border-left: none;
      border-right: none;
    }

    .ant-picker-suffix {
      margin-left: 0;
      padding: 5px;
    }
  }

  &:not(.ant-picker-range) .ant-picker-clear {
    margin-right: 5px !important;
  }

  &.ant-picker-range .ant-picker-clear {
    right: 5px !important;
  }

  .ant-picker-active-bar {
    margin-left: 0 !important;
  }
}

.ant-pagination-item-link-icon,
.ant-pagination-item-link {
  &:focus {
    font-weight: bolder;
  }
}

button.ant-pagination-item-link {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.app-lookup-select-input {
  min-width: 200px;

  .ant-select-clear {
    margin-right: 25px;

    .anticon.anticon-close-circle {
      background-color: #fff;
      vertical-align: middle;
      font-size: 12px;
    }
  }
}

.app-lookup-select-input .ant-select-selection-placeholder {
  border-right: none !important;
}

// ant table row dragging
.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}

.row-dragging td {
  padding: 8px;
  visibility: hidden;
}

.row-dragging .drag-visible {
  visibility: visible;
}

// Custom CSS

.caret-icon {
  font-size: 20px;
  color: rgba(0, 0, 21, 0.5) !important;
  cursor: pointer !important;
}

.edit-icon-color {
  color: #176b74;
}

.clone-icon-color {
  color: #00bcd4;
}

.view-icon-color {
  color: blue;
}

.bold-field-label label {
  font-weight: bold !important;
}

.app-red-highlight,
.app-red-highlight .app-highlight,
.app-red-highlight .anticon {
  font-weight: bold;
  color: red;
}

.app-highlight,
.stats-card .ant-card-head {
  font-weight: bold;
  color: $app-main-color;
}

.app-color {
  color: $app-main-color !important;
}

.app-bg-color {
  background-color: $app-main-color !important;
  border-color: $app-main-color !important;
}

.font-16px {
  font-size: 16px;
}

.cursor-auto {
  cursor: auto !important;
}

.app-link:hover {
  color: $app-main-color !important;
  text-decoration: underline;
}

.sortable-virtual-item {
  cursor: grab !important;
}

/* Braft editor override using custom class */
.braft-editor-form-item {
  border: $ant-default-border;

  .bf-content {
    height: 200px;
    padding-bottom: 0;
  }
}

// Color Picker
.modal-color-picker {
  width: 100% !important;
  padding: 0 !important;
  box-sizing: initial !important;
  background: rgb(255, 255, 255) !important;
  border-radius: 0 !important;
  box-shadow: none !important;

  input {
    border-radius: 2px !important;
    box-shadow: rgb(204, 204, 204) 0px 0px 0px 1px inset !important;

    &:focus {
      box-shadow: rgb(204, 204, 204) 0px 0px 0px 1px inset !important;
    }
  }
}

// Others

.btn.btn-falcon-default {
  max-height: 35px;
}

.card-main_layout {
  padding: 15px 15px 20px 15px;
}

.btn-active-menu {
  box-sizing: border-box;
  height: 38px;
  border: 0.5px solid #e5e9ef;
  border-radius: 10px;
  color: #fff;
  background-color: #2c7be5;
}

.btn-inactive-menu {
  box-sizing: border-box;
  height: 38px;
  background: #ffffff;
  color: #a79f9f;
  border: 0.5px solid #c7cdd5;
  border-radius: 10px;
}

.btn-active-menu:hover {
  box-sizing: border-box;
  height: 38px;
  border: 0.5px solid #2c7be5;
  border-radius: 10px;
  color: #2c7be5;
  background-color: #fff;
}

.btn-inactive-menu:hover {
  box-sizing: border-box;
  height: 38px;
  border: 0.5px solid #2c7be5;
  border-radius: 10px;
  color: #2c7be5;
  background-color: #fff;
}

.btn-active-command {
  border: 0.5px solid #2c7be5;
  // border-radius: 19px;
  padding: 0.3825rem 22px;
  color: #fff;
  background-color: #2c7be5 !important;
}

.btn-active-command:hover {
  border: 0.5px solid #2c7be5;
  // border-radius: 19px;
  padding: 0.3825rem 22px;
  color: #2c7be5;
  background-color: #ffffff !important;
}

.text-label {
  color: '#444444 !important';
}

.my-select-container .ant-select .ant-select-selector {
  border-radius: 10px;
}

.nav-tabs .nav-link {
  font-size: 16px;
}

.filter-container {
  height: auto;
  z-index: 99999999;
  position: absolute;
  display: block;
  margin: 3px;
  padding: 2px;
  border: 1px solid #9da9bb;
  background: #fff;
  width: 100%;
}

.filter-container .item-container {
  padding: 10px 10px;
  border-top: 1px dotted silver;
  font-size: 12pt;
  line-height: 14pt;
  cursor: pointer;
}

.filter-container .item-container:hover {
  color: #2c7be5;
}

.filter-container .item-blank {
  padding: 10px 10px;
  border-top: 1px dotted silver;
  font-size: 12pt;
  line-height: 14pt;
}
