@import 'plugins/dropzone';
@import 'plugins/slick';
@import 'plugins/lottie';
@import 'plugins/echarts';
@import 'plugins/react-table';
@import 'plugins/react-player';
@import 'plugins/full-calendar';
@import 'plugins/react-datepicker';
@import 'plugins/react-select';
@import 'plugins/tinymce';
@import 'plugins/toastify';
@import '~leaflet/dist/leaflet.css';
@import '~react-leaflet-markercluster/dist/styles.min.css';
@import 'plugins/leaflet';
@import 'plugins/emoji-mart';
